<div>
    {{#if candidates.length}}
        <div class="form-group">
            <label>{{localize 'PD.Dialog.AddNpcPick'}}</label>
            <div class="form-fields">
                <select name="npc">
                    <option value=""></option>
                    {{#each candidates}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    {{else}}
        <p class="hint">{{localize 'PD.Dialog.AddNpcNone'}}</p>
    {{/if}}
    <div class="form-group">
        <label>{{localize 'PD.Dialog.AddNpcNew'}}</label>
        <div class="form-fields">
            <input type="text" name="newName" placeholder="{{localize 'PD.Dialog.AddNpcPlaceholder'}}">
        </div>
    </div>
</div>
